{% extends 'skills/base.html' %}
{% block content %}


<div class="container">
    <div class="row justify__content__center">
        <h1 class="col-12 signupuser_h2">Авторизация</h1>
        <h2>{{ error }}</h2>

        <div class="col-12 error">
            <small>{{ error }}</small>
        </div>

        <form method="post" class="register col-6">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="signupuser_btn">Авторизация</button>
        </form>

    </div>
</div>
{% endblock %}